.contacto-formulario {
    display: flex;
	flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

.contacto-formulario label {
	margin-bottom: 4px;
}

.contacto-formulario input, .contacto-formulario textarea {
	margin-bottom: 30px;
	padding: 12px 10px;
	border: 1px solid var(--color-medio-oscuro);
	border-radius: 2px;
}

